debian/stsbl-iserv-mail-redirection/*
debian/stsbl-iserv-mail-redirection.debhelper.log
debian/stsbl-iserv-mail-redirection.substvars
debian/files
debian/debhelper-build-stamp
/Makefile.iservmake
/locale
/system-locale
!/locale/templates/*_misc.pot
/public/assets
/.php-cs-fixer.cache
