{# src/Stsbl/MailAliasBundle/Resources/views/Crud/address_show.html.twig #}
{%  extends 'IServCrudBundle:Crud:show.html.twig' %}

{% block crud_title %}
    <h1>{{ __('Details for %s@%s', item, admin.config.get('Servername')) }}</h1>
{% endblock crud_title %}