Source: stsbl-iserv-mail-redirection
Section: non-free/misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends:
  debhelper-compat (= 13),
  dh-sequence-iserv,
  dh-sequence-stsbl,
  dpkg-dev,
Standards-Version: 4.5.0
Homepage: https://it.stsbl.de/documentation/mods/stsbl-iserv-mail-redirection

Package: stsbl-iserv-mail-redirection
Architecture: all
Depends: ${misc:Depends},
  ${perl:Depends},
  adduser,
  iserv-portal-web,
  iserv-server-nginx,
  iserv-server-php,
  iserv-server-postgresql,
  iserv-update,
  php-cli (>= 0),
  php-fpm (>= 0),
  php-intl (>= 0),
  php-mbstring (>= 0),
  php-pgsql (>= 0),
  php-xml (>= 0)
Description: E-Mail-Weiterleitungs-Modul für IServ
 Dieses Modul verwaltet lokale E-Mail-Aliasse und deren Empfänger über das IServ-Portal.
Tag: suite::iserv:portal, role::plugin, status::recommended, implemented-in::php
