Source: stsbl-iserv-mail-redirection
Section: misc
Priority: extra
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://it.stsbl.de/documentation/mods/stsbl-iserv-mail-redirection

Package: stsbl-iserv-mail-redirection
Architecture: all
Depends: iserv-portal
Description: E-Mail-Weiterleitungs-Modul für IServ
 Dieses Modul bringt die Möglichkeit mit, E-Mail-Weiterleitungen (auch Alias genannt) über den IDesk einzurichten.
 .
 Diese verhalten sich ähnlich, wie diejenigen, die sich als root über die /etc/aliases definieren lassen.
 Der Vorteil dieses Moduls ist, dass diese nun einfach über den IDesk einzurichten sind und dafür nicht mehr das Root-Konto verwendet werden muss.
 .
 https://it.stsbl.de/wp-content/uploads/2016/12/stsbl-iserv-mail-redirection.png
 .
 Weitere Hilfen zur Einrichtung finden sie auf der verlinkten Homepage.
Tag: suite::iserv:portal, role::plugin, implemented-in::php
