.mail-alias-recipient {
    align-items: center;
    display: inline-flex;
    text-decoration: none;
    vertical-align: middle;
}

.mail-alias-recipient > picture > img {
    box-sizing: border-box;
    height: 16px;
    margin-right: .3rem;
    object-fit: cover;
    width: 16px;
}

.mail-alias-recipient > img {
    box-sizing: border-box;
    height: 22px;
    margin-right: .3rem;
    object-fit: cover;
    width: 22px;
}

.mail-alias-recipient > picture > img.img-rounded {
    border-radius: 0;
}

.mail-alias-recipient__separator {
    margin-right: .35rem;
}

.mail-alias-recipients--stacked {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: .35rem;
}
